*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html, body{
    background-color:rgb(30, 30, 50);
    height: 100%;
    overflow-x: hidden;
}

body {
    position: relative;
}

.tip{
    position: absolute;
    left: 0;
    width: 100%;
    max-width: 400px;
    min-height: 200px;
    display: none;
    z-index: 10;
    padding: 16px;
}

.tip > div{
    background-color: rgba(255,255,255,0.9);
    border-radius: 32px;
    width: 100%;
    height: 100%;
}

.tip main{
    padding: 16px;
}

.tip main p{
    font-size: 22px;
    font-weight: 600;
    color: rgb(80,80,120);
}

.tip main p > span{
    font-weight: bold;
    color: rgb(20,20,240);
    font-size: 24px;
}

.tip footer{
    width: 100%;
    text-align: right;
    padding: 4px 24px;
}

.tip footer button{
    background-color: unset;
    outline: 0;
    border: 0;
    text-transform: uppercase;
    color: rgb(0, 90, 255);
    font-weight: bold;
    cursor: pointer;
    padding: 8px;
    font-size: 24px;
    transition: transform 0.2s;
}

.tip footer button:hover{
    color: rgb(47, 120, 255);
    transform: scale(1.15);
}

.slide{
    display: inline-block;
    cursor: pointer;
    background-color: unset;
    border: 0;
    font-size: 64px;
    position: absolute;
    z-index: 10;
    color: rgb(90,90,130);
    transition: color 0.25s;
    top: 50%;
    transform: translateY(-50%);
    outline: 0;
    display: none;
}

.slide:hover{
    color: rgb(130,130,170);

}

.slide.left{
    left: 16px;
}

.slide.right{
    right: 16px;
}

.container{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
}

.container > div{
    width: 600em;
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
}



.box-save{
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.25);
    border-radius: 16px;
    transform: scale(0.7);
    background-color: red;
    width: 85vw;
    max-width: 500px;
    float: right;

}

.box-save.today{
    margin-right: 32px;
}

.box-save:not(.today){
    margin-left: -48px;
}

.box-save.today{
    transform: scale(1);
}

.box-save header{
    background-color: #fffae2;
    border-radius: 16px 16px 0 0;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-save header h1{
    display: inline-block;
}

.box-save:not(.today) button{
    display: none;
}

.box-save.today header button{
    background-color:rgb(0, 90, 255);
    color: white;
    width: 48px;
    height: 48px;
    border: 0;
    border-radius: 25%;
    font-size: 24px;
    cursor: pointer;
    outline: 0;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-save header button:hover{
    background-color:rgb(0, 68, 194);
}

.box-save main{
    min-height: 150px;
    background-color:rgb(0, 100, 255);
    width: 100%;
    border-radius: 0 0 16px 16px;
    padding: 24px 40px;
    color: white;
}

.box-save main ul{
    font-weight: bold;

}

.box-save main ul li{
    font-size: 20px;
    height: 32px;
    width: 100%;
    margin-bottom: 8px;
}

.box-save main ul li span{
    width: 100%;
    display: inline-block;
    padding: 4px;
    user-select: none;
}

.box-save.today main ul li span{
    cursor: text;
}

.box-save main ul li input{
    display: none;
    width: 100%;
    padding: 4px;
    font-size: 16px;
    font-weight: bold;
    outline: 0;
    border: 1px solid rgb(55,55,55);
    border-radius: 4px;
}

@media screen and (max-width: 350px){
    .box-save{
        width: 80vw;
    }
}

